In [3]:
import pandas as pd
import numpy as np

In [42]:
df = pd.DataFrame({ 'parkname' : ['Point Defiance', 'Alder Park', 'Point Defiance', 'Alder Park'],
                                  'time' : pd.Timestamp('2013-12-25 00:00:00'), 
                                  'quantity' : range(1,5), 
                                  'hid/found' : ['hid', 'hid', 'found','hid'] })

df

  hid/found        parkname  quantity       time
0       hid  Point Defiance         1 2013-12-25
1       hid      Alder Park         2 2013-12-25
2     found  Point Defiance         3 2013-12-25
3       hid      Alder Park         4 2013-12-25

In [43]:
# List of parks
parks = ['Point Defiance', 'Alder Park']

In [44]:
# Number of events per park.
df['time'].groupby(by = df['parkname']).count()

parkname
Alder Park        2
Point Defiance    2
Name: time, dtype: int64

In [45]:
# Number of total rocks per park.
df['quantity'].groupby(by = df['parkname']).sum()

parkname
Alder Park        6
Point Defiance    4
Name: quantity, dtype: int64

In [46]:
# Number of hidden rocks per park.
df[df['hid/found']=='hid'].groupby(by = df['parkname']).sum()

                quantity
parkname
Alder Park             6
Point Defiance         1

In [48]:
# Number of hidden rock events per park.
df[df['hid/found']=='hid']['time'].groupby(by = df['parkname']).count()

parkname
Alder Park        2
Point Defiance    1
Name: time, dtype: int64

In [49]:
# Number of hidden rocks per park.
df[df['hid/found']=='found'].groupby(by = df['parkname']).sum()

                quantity
parkname
Point Defiance         3

In [50]:
# Number of found rock events per park.
df[df['hid/found']=='hid']['time'].groupby(by = df['parkname']).count()

parkname
Alder Park        2
Point Defiance    1
Name: time, dtype: int64